version: 2.1
orbs:
  slack: circleci/slack@3.4.2
executors:
  js-env:
    docker:
      - image: circleci/node:11.4
  py-env:
    docker:
      - image: circleci/python:3.8

jobs:
  js-test:
    executor: js-env
    working_directory: ~/app
    steps:
      - checkout
      - run:
          name: Install package
          command: npm ci
          working_directory: js
      - run: 
          name: Execute test
          command: npm run test
          working_directory: js
      - slack/status
  py-test:
    executor: py-env
    working_directory: ~/app
    environment:
      PIPENV_VENV_IN_PROJECT: "true"
    steps:
      - checkout
      - run:
          name: Install pipenv
          command: pip install pipenv
          working_directory: python
      - run:
          name: Install package
          command: pipenv install --dev
          working_directory: python
      - run: 
          name: Execute test
          command: pipenv run test
          working_directory: python
      - slack/status

workflows:
  js:
    jobs:
      - js-test:
          filters:
            branches:
              only: /^js-.*$/
  py:
    jobs:
      - py-test:
          filters:
            branches:
              only: /^py-.*$/
